<p id="notice"><%= notice %></p>

<p>
  <strong>Tirage:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Résultat:</strong>
  <%= @game.description %>
  <% @game.balls.each do |ball| %>
  <span class="btn-success"><%= ball %></span>
  <% end %>
</p>

<%= link_to 'Retour à la liste', games_path %>
